.elementor-353
    .elementor-element.elementor-element-ad9bb5d:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-353
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-353
    .elementor-element.elementor-element-ad9bb5d
    > .elementor-background-overlay {
    background-color: #000000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-353 .elementor-element.elementor-element-ad9bb5d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-bc-flex-widget
    .elementor-353
    .elementor-element.elementor-element-c904320.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-353
    .elementor-element.elementor-element-c904320.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-353
    .elementor-element.elementor-element-c904320
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-353 .elementor-element.elementor-element-1324fa7 {
    --divider-border-style: solid;
    --divider-color: #252525;
    --divider-border-width: 1px;
}
.elementor-353
    .elementor-element.elementor-element-1324fa7
    .elementor-divider-separator {
    width: 100%;
}
.elementor-353 .elementor-element.elementor-element-1324fa7 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-353 .elementor-element.elementor-element-0b7b2fc {
    margin-top: -18px;
    margin-bottom: 0px;
}
.elementor-bc-flex-widget
    .elementor-353
    .elementor-element.elementor-element-2942caf.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-353
    .elementor-element.elementor-element-2942caf.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-bc-flex-widget
    .elementor-353
    .elementor-element.elementor-element-7e8b360.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-353
    .elementor-element.elementor-element-7e8b360.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-353
    .elementor-element.elementor-element-0b0f9a3
    .elementor-heading-title {
    color: #a0a0a0;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.elementor-353
    .elementor-element.elementor-element-0b0f9a3
    > .elementor-widget-container {
    margin: 0px 0px 0px 150px;
}
.elementor-353 .elementor-element.elementor-element-f9d95f1 {
    --divider-border-style: solid;
    --divider-color: #252525;
    --divider-border-width: 1px;
}
.elementor-353
    .elementor-element.elementor-element-f9d95f1
    .elementor-divider-separator {
    width: 100%;
}
.elementor-353 .elementor-element.elementor-element-f9d95f1 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}
.elementor-353
    .elementor-element.elementor-element-f9d95f1
    > .elementor-widget-container {
    margin: 0px 0px -15px 0px;
}
.elementor-353 .elementor-element.elementor-element-7ddd2d0 {
    margin-top: 25px;
    margin-bottom: 0px;
}
.elementor-353 .elementor-element.elementor-element-74ef377 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-style: italic;
    fill: #a0a0a0;
    color: #a0a0a0;
    background-color: #0d0d0d;
    padding: 15px 150px 15px 15px;
}
.elementor-353 .elementor-element.elementor-element-cc1dc07 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-style: italic;
    fill: #a0a0a0;
    color: #a0a0a0;
    background-color: #0d0d0d;
    padding: 15px 150px 15px 15px;
}
.elementor-353 .elementor-element.elementor-element-ebfd415 {
    text-align: center;
}
.elementor-353
    .elementor-element.elementor-element-ebfd415
    .elementor-heading-title {
    color: #a0a0a0;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-353
    .elementor-element.elementor-element-ebfd415
    > .elementor-widget-container {
    margin: 36px 0px 0px 0px;
}
.elementor-353
    .elementor-element.elementor-element-38b2f9d
    .elementor-icon-wrapper {
    text-align: center;
}
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-stacked
    .elementor-icon {
    background-color: #0d0d0d;
    color: #a0a0a0;
}
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-framed
    .elementor-icon,
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-default
    .elementor-icon {
    color: #0d0d0d;
    border-color: #0d0d0d;
}
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-framed
    .elementor-icon,
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-default
    .elementor-icon
    svg {
    fill: #0d0d0d;
}
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-framed
    .elementor-icon {
    background-color: #a0a0a0;
}
.elementor-353
    .elementor-element.elementor-element-38b2f9d.elementor-view-stacked
    .elementor-icon
    svg {
    fill: #a0a0a0;
}
.elementor-353 .elementor-element.elementor-element-38b2f9d .elementor-icon {
    font-size: 30px;
    padding: 45px;
}
.elementor-353 .elementor-element.elementor-element-57c7301 {
    text-align: center;
}
.elementor-353
    .elementor-element.elementor-element-57c7301
    .elementor-heading-title {
    color: #a0a0a0;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-353
    .elementor-element.elementor-element-57c7301
    > .elementor-widget-container {
    margin: 18px 0px 0px 0px;
}
.elementor-353
    .elementor-element.elementor-element-92c916e
    .elementor-icon-wrapper {
    text-align: center;
}
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-stacked
    .elementor-icon {
    background-color: #0d0d0d;
    color: #a0a0a0;
}
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-framed
    .elementor-icon,
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-default
    .elementor-icon {
    color: #0d0d0d;
    border-color: #0d0d0d;
}
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-framed
    .elementor-icon,
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-default
    .elementor-icon
    svg {
    fill: #0d0d0d;
}
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-framed
    .elementor-icon {
    background-color: #a0a0a0;
}
.elementor-353
    .elementor-element.elementor-element-92c916e.elementor-view-stacked
    .elementor-icon
    svg {
    fill: #a0a0a0;
}
.elementor-353 .elementor-element.elementor-element-92c916e .elementor-icon {
    font-size: 30px;
    padding: 45px;
}
.elementor-353 .elementor-element.elementor-element-1b58870 {
    text-align: center;
}
.elementor-353
    .elementor-element.elementor-element-1b58870
    .elementor-heading-title {
    color: #a0a0a0;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}
.elementor-353
    .elementor-element.elementor-element-1b58870
    > .elementor-widget-container {
    margin: 18px 0px 0px 0px;
}
.elementor-353
    .elementor-element.elementor-element-e6144ee
    .elementor-button
    .elementor-align-icon-right {
    margin-left: 8px;
}
.elementor-353
    .elementor-element.elementor-element-e6144ee
    .elementor-button
    .elementor-align-icon-left {
    margin-right: 8px;
}
.elementor-353 .elementor-element.elementor-element-e6144ee .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.9px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--e-global-color-9caa857);
    border-radius: 7px 7px 7px 7px;
    padding: 20px 20px 16px 20px;
}
.elementor-353
    .elementor-element.elementor-element-e6144ee
    > .elementor-widget-container {
    margin: 50px 0px 0px 0px !important;
}
@media (min-width: 768px) {
    .elementor-353 .elementor-element.elementor-element-2942caf {
        width: 23.591%;
    }
    .elementor-353 .elementor-element.elementor-element-7e8b360 {
        width: 76.409%;
    }
    .elementor-353 .elementor-element.elementor-element-1b1d5db {
        width: 29.096%;
    }
    .elementor-353 .elementor-element.elementor-element-62f80b4 {
        width: 40.236%;
    }
    .elementor-353 .elementor-element.elementor-element-11923c2 {
        width: 30%;
    }
}
