.plans-btn {
    background-color: #d9aa5a;
    color: white;
    border-radius: 5px;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 15px;
}
.plans-col ul {
    color: white;
    text-decoration: none;
}
.plans-col ul li {
    color: white;
    list-style: none;
    background-repeat: no-repeat;
    background-image: url(../images/check-mark.png);
    background-size: 0.6em 0.7em;
    background-position: 0 0.3em;
    padding-left: 30px;
}
.plans-col ul li::before {
    content: url(".images/check-mark.png");
    position: absolute;
}
.plans-heading {
    text-align: center;
    margin-top: 50px;
}
.container p {
    color: white;
    font-size: 25px;
}
.container img {
    margin-bottom: 20px;
}
.plans-name {
    font-size: 20px !important;
    margin: 0;
    font-weight: 600;
}
.plans-currency {
    margin: 0;
    font-weight: 400px;
    font-size: 17px !important;
}
/* SWITCH STYLES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
    border-radius: 30px;
    background: var(--white);
}

.switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
}

.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"],
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"] {
    color: var(--white);
}

.switch-wrapper [type="radio"]:checked#monthly ~ label[for="monthly"]:hover,
.switch-wrapper [type="radio"]:checked#yearly ~ label[for="yearly"]:hover {
    background: transparent;
}

.switch-wrapper
    [type="radio"]:checked#monthly
    + label[for="yearly"]
    ~ .highlighter {
    transform: none;
}

.switch-wrapper
    [type="radio"]:checked#yearly
    + label[for="monthly"]
    ~ .highlighter {
    transform: translateX(100%);
}

.switch-wrapper label {
    font-size: 16px;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 30px;
    color: white !important;
    transition: color 0.25s ease-in-out;
}

.switch-wrapper label:hover {
    background: var(--lightgray);
}

.switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 30px;
    background: #d9aa5a;
    transition: transform 0.25s ease-in-out;
}
input[type="submit"] {
    background-color: transparent;
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: inherit;
}
input[type="submit"]:hover {
    background-color: transparent;
    width: 100%;
}
